extends layout

block content
  h1= title
  p Welcome to #{title}
  p 
    a(href="/new") Add new message
  ul 
    each message in messages 
      li 
        p= message.text
        p= message.user
        p= message.added 